.App {
  text-align: center;
}

.game {
  position: absolute;
  left: 15%;
}

h1 {
  color: #2C2D30;
}

button {
  padding: 0.5em;
  background: #F29301;
  border: 4px #FFFF81 solid;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}