.card {
    position: relative;

    & img {
        width: 80%;
        border: 2px solid white;
        border-radius: 6px;
    }

    &-grid {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        border: 2px solid #FFFF81;
        border-radius: 20px;
        background-color: #FFFF81;
    }

    & .front {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        position: absolute;
    }

    & .back {
        transform: rotateY(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
    }
}


.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}